<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/Ensemble_Trees_Exercise_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount drive
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [3]:
# import libraries
import pandas as pd

# import ML models
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor

In [4]:
# load file
filename = '/content/drive/MyDrive/Colab Notebooks/Boston_Housing_from_Sklearn.csv'
df = pd.read_csv(filename)
df.head()

      CRIM    NOX     RM   AGE  PTRATIO  LSTAT  PRICE
0  0.00632  0.538  6.575  65.2     15.3   4.98   24.0
1  0.02731  0.469  6.421  78.9     17.8   9.14   21.6
2  0.02729  0.469  7.185  61.1     17.8   4.03   34.7
3  0.03237  0.458  6.998  45.8     18.7   2.94   33.4
4  0.06905  0.458  7.147  54.2     18.7   5.33   36.2

Explore and Clean the dataset

In [11]:
df.shape

(506, 7)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   NOX      506 non-null    float64
 2   RM       506 non-null    float64
 3   AGE      506 non-null    float64
 4   PTRATIO  506 non-null    float64
 5   LSTAT    506 non-null    float64
 6   PRICE    506 non-null    float64
dtypes: float64(7)
memory usage: 27.8 KB

In [13]:
df.isna().sum()

CRIM       0
NOX        0
RM         0
AGE        0
PTRATIO    0
LSTAT      0
PRICE      0
dtype: int64

In [16]:
df.duplicated().sum()

# dataset is clean

0

**Bagged Tree Regression**

In [18]:
# define target y and features X
y = df['PRICE']
X = df.drop(columns = 'PRICE')

In [19]:
# split the data into training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [21]:
# instantitate the model
bagreg = BaggingRegressor()

# fit the model
bagreg.fit(X_train, y_train)

# predict target y
bagreg.predict(X_test)

# evaluate the model performance
bagreg_trainScore = bagreg.score(X_train, y_train)
bagreg_testScore = bagreg.score(X_test, y_test)

# print the results
print(f'bagging tree regression training score {bagreg_trainScore}')
print(f'bagging tree regression testing score {bagreg_testScore}')

bagging tree regression training score 0.9613171929346546
bagging tree regression testing score 0.794074777784723

**Random Forest Regression**

In [22]:
# instantitate the model
randomReg = RandomForestRegressor()

# fit the model
randomReg.fit(X_train, y_train)

# predict target y
randomReg.predict(X_test)

# evaluate the model performance
randomReg_trainScore = randomReg.score(X_train, y_train)
randomReg_testScore = randomReg.score(X_test, y_test)

# print the results
print(f'bagging tree regression training score {randomReg_trainScore}')
print(f'bagging tree regression testing score {randomReg_testScore}')

bagging tree regression training score 0.9742231016555495
bagging tree regression testing score 0.8279710080907132