<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/Find_average_height_per_individual_olympian_per_year_exercise_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# import libraries
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
# mount drive
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [5]:
# import file
filename = ('/content/drive/MyDrive/Colab Notebooks/athleteEventsNoPersonal.csv')
df = pd.read_csv(filename)

In [6]:
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
# how many rows and columns
df.shape

(40616, 12)

In [11]:
# which columns have missing values?
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [18]:
# How many entries correspond to the city of London
london_filter = df['City'] == 'London'
london_filter.sum()

3370

In [20]:
# What age is the youngest athlete in our sample data?  Hint: use min()
df['Age'].min()

11.0

In [22]:
df.describe()

                  ID           Age        Height          Year
count   40616.000000  39143.000000  31615.000000  40616.000000
mean    68140.888738     25.619498    175.381117   1978.653240
std     38830.405762      6.494926     10.561791     29.850461
min         5.000000     11.000000    135.000000   1896.000000
25%     34661.750000     21.000000    168.000000   1960.000000
50%     68016.500000     25.000000    175.000000   1988.000000
75%    101475.000000     28.000000    183.000000   2004.000000
max    135571.000000     74.000000    221.000000   2016.000000

Create Filters

In [84]:
# How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?
df[df['Event'].str.contains('Tug')].count()

ID        18
Age       14
Height     3
Team      18
NOC       18
Games     18
Year      18
Season    18
City      18
Sport     18
Event     18
Medal     14
dtype: int64

In [88]:
swe_tug = df[(df['Sport'] > 'Tug-Of-War') & (df['NOC'] == 'SWE')].count()
swe_tug

ID        76
Age       76
Height    34
Team      76
NOC       76
Games     76
Year      76
Season    76
City      76
Sport     76
Event     76
Medal     23
dtype: int64

In [87]:
# How many Gold medals were awarded to athletes who were over 40 years old?
gold_40 = df[(df['Age'] > 40) & (df['Medal'] == 'Gold')].count()
gold_40

ID        66
Age       66
Height    16
Team      66
NOC       66
Games     66
Year      66
Season    66
City      66
Sport     66
Event     66
Medal     66
dtype: int64

In [89]:
# Determine the average height of:
# All rows included

df['Height'].mean()

175.3811165585956

In [91]:
# All rows included, but grouped by Event
df.groupby('Event')['Age'].mean()

Event
Alpine Skiing Men's Combined                      24.197183
Alpine Skiing Men's Downhill                      24.213904
Alpine Skiing Men's Giant Slalom                  23.379913
Alpine Skiing Men's Slalom                        23.142241
Alpine Skiing Men's Super G                       24.401961
                                                    ...
Wrestling Women's Flyweight, Freestyle            25.200000
Wrestling Women's Heavyweight, Freestyle          25.333333
Wrestling Women's Light-Heavyweight, Freestyle    24.500000
Wrestling Women's Lightweight, Freestyle          23.666667
Wrestling Women's Middleweight, Freestyle         25.066667
Name: Age, Length: 726, dtype: float64

In [93]:
# Bonus: This dataset contains many athletes more than once (if they competed in multiple events and/or multiple years).
# You can confirm this by finding  .value_counts on the ID column!
df['ID'].value_counts()

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
78467      1
78468      1
78470      1
78474      1
91368      1
Name: ID, Length: 20336, dtype: int64

In [99]:
# For the bonus task we want to get the average height of all the athletes, but don't want to include any athlete more than once.
# Hint: We learned how to drop duplicates if EVERY column was identical, but now we want to drop a row any time just the ID is repeated.
# To do this,  you can use a subset of your data as an argument in the drop_duplicates function.
# You can also tell Python which of the duplicates to keep by using the keep argument.
col_id = ['ID']

duplicates = df.duplicated(subset = col_id, keep = 'first')
df[duplicates].count()

ID        20280
Age       19755
Height    16322
Team      20280
NOC       20280
Games     20280
Year      20280
Season    20280
City      20280
Sport     20280
Event     20280
Medal      3067
dtype: int64