<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/Logistic%2C_Random_forest%2C_or_KNN%3F_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import libraries
import pandas as pd
import numpy as np

# preprocessing
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# ML model
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# metrics
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

In [3]:
# load file
filename = '/content/drive/MyDrive/Colab Notebooks/Wine_cultivars.csv'
df = pd.read_csv(filename)
df.head()

,Class label,Alcohol,Malic Acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavonid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

1) Use a logistic regression model and try both l1 and l2 regularization. This is a great opportunity to see how tuning hyperparameters can affect the model results. 

2) After doing that, try using KNN and Random Forest models. 

3) Address these questions in a text cell at the end of your code:

Which model performed the best? 
Which hyperparameters did you tune for each of the models? Is there a model that you liked the best and why?

In [5]:
# assign target y and features X
y = df['Class label']
X = df.drop(columns = 'Class label')
X.head()

,Alcohol,Malic Acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavonid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [6]:
# split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [10]:
# instantitate column selector
num_selector = make_column_selector(dtype_include = 'number')

In [11]:
# instantiate the encoder
scaler = StandardScaler()

In [12]:
# create pipelines
num_pipe = make_pipeline(scaler)

In [13]:
# set tuples
num_tuple = (num_pipe, num_selector)

In [14]:
# instantitate the transformer
preprocessor = make_column_transformer(num_tuple, remainder = 'passthrough')

In [15]:
preprocessor.fit(X_train, y_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline',
                                 Pipeline(steps=[('standardscaler',
                                                  StandardScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7eff25cd7710>)])

In [16]:
# transform the processed data
X_train_processed = preprocessor.transform(X_train)
X_test_processed = preprocessor.transform(X_test)

**Machine Learning**

In [20]:
# instantiate the model
logreg = LogisticRegression()

# train the model on the data, storing information learned from the data
# model is learning the relationship between x and y
logreg.fit(X_train_processed, y_train)

# create prediction
trained_class_score = logreg.score(X_train_processed, y_train)
tested_class_score = logreg.score(X_test_processed, y_test)

print(f'training score {trained_class_score}')
print(f'testing score {tested_class_score}')

training score 1.0
testing score 0.9777777777777777

In [21]:
# instantiate the model
logreg = LogisticRegression(C = 1000)

# train the model on the data, storing information learned from the data
# model is learning the relationship between x and y
logreg.fit(X_train_processed, y_train)

# create prediction
trained_class_score = logreg.score(X_train_processed, y_train)
tested_class_score = logreg.score(X_test_processed, y_test)

print(f'training score {trained_class_score}')
print(f'testing score {tested_class_score}')

training score 1.0
testing score 0.9777777777777777

In [25]:
# insantiate the model
rfc = RandomForestClassifier(max_depth = 17)

# fit the model
rfc.fit(X_train_processed, y_train)

# create prediction
trained_class_score = rfc.score(X_train_processed, y_train)
print(f'train score {trained_class_score}')

tested_class_score = rfc.score(X_test_processed, y_test)
print(f'test score {tested_class_score}')

train score 1.0
test score 1.0

In [24]:
# use n_neighbors = 23
knn = KNeighborsClassifier(n_neighbors = 23)

# fit the model
knn.fit(X_train_processed, y_train)

# create prediction
trained_class_score = knn.score(X_train_processed, y_train)
print(f'train score {trained_class_score}')

tested_class_score = knn.score(X_test_processed, y_test)
print(f'test score {tested_class_score}')

train score 0.9774436090225563
test score 0.9777777777777777