<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/pandas_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# mount the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import pandas
import pandas as pd

In [ ]:
# import the file
file_name = '/content/drive/MyDrive/Colab Notebooks/mortgages.csv'
mortgage = pd.read_csv(file_name)

In [ ]:
# show the first 5 rows of the mortgage file
mortgage.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [ ]:
# look at the values in the Mortgage Name column
mortgage['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [ ]:
# notice that the filters produce boolean values
mortgage_filter = mortgage['Mortgage Name'] == '30 Year'
mortgage_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Mortgage Name, dtype: bool