<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/pandas_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
# mount the data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
# import pandas
import pandas as pd

In [52]:
# import the file
file_name = '/content/drive/MyDrive/Colab Notebooks/mortgages.csv'
mortgage = pd.read_csv(file_name)

In [53]:
# show the first 5 rows of the mortgage file
mortgage.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [54]:
# look at the values in the Mortgage Name column
mortgage['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [55]:
# notice that the filters produce boolean values
mortgage_filter = mortgage['Mortgage Name'] == '30 Year'
mortgage_filter

0        True
1        True
2        True
3        True
4        True
        ...
1075    False
1076    False
1077    False
1078    False
1079    False
Name: Mortgage Name, Length: 1080, dtype: bool

In [56]:
mortgage[mortgage['Mortgage Name'] == '30 Year']

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03
...,...,...,...,...,...,...,...,...
715,356,10596.54,2147.29,44.15,2103.14,8493.40,30 Year,0.05
716,357,8493.40,2147.29,35.38,2111.91,6381.49,30 Year,0.05
717,358,6381.49,2147.29,26.58,2120.71,4260.78,30 Year,0.05
718,359,4260.78,2147.29,17.75,2129.54,2131.24,30 Year,0.05
719,360,2131.24,2147.29,8.88,2138.41,-7.17,30 Year,0.05

In [57]:
# df.loc[rows, columns]
mortgage.loc[mortgage['Mortgage Name'] == '30 Year', :].head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [58]:
mortgage['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [59]:
# mortgage_filter only shows the 30 Year mortgages
# using .loc we want to show how many 30 year mortgages are in the dataframe
mortgage = mortgage.loc[mortgage_filter, :]
mortgage['Mortgage Name'].value_counts()

30 Year    720
Name: Mortgage Name, dtype: int64

In [63]:
# to view the number of intrest rate values and their corresponding interest rates
mortgage['Interest Rate'].value_counts()

0.03    360
0.05    360
Name: Interest Rate, dtype: int64

In [65]:
# to filter on the interest rates with 0.03
mortgage['Interest Rate'] == 0.03

0       True
1       True
2       True
3       True
4       True
       ...
715    False
716    False
717    False
718    False
719    False
Name: Interest Rate, Length: 720, dtype: bool

In [66]:
# create a filter that shows only the mortages with an interest rate of 0.03
interest_filter = mortgage['Interest Rate'] == 0.03
mortgage = mortgage.loc[interest_filter, :]
mortgage['Interest Rate'].value_counts(dropna = False)

0.03    360
Name: Interest Rate, dtype: int64

In [67]:
# combining both 30 year mortgage and 0.03 interest rate filters
mortgage = mortgage.loc[mortgage_filter & interest_filter, :]
mortgage

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03
...,...,...,...,...,...,...,...,...
355,356,8364.12,1686.42,20.91,1665.51,6698.61,30 Year,0.03
356,357,6698.61,1686.42,16.74,1669.68,5028.93,30 Year,0.03
357,358,5028.93,1686.42,12.57,1673.85,3355.08,30 Year,0.03
358,359,3355.08,1686.42,8.38,1678.04,1677.04,30 Year,0.03
359,360,1677.04,1686.42,4.19,1682.23,-5.19,30 Year,0.03