<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/Wk3_Project_1_Part_3_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# import libraries
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as pyplot
import seaborn as sns

In [5]:
# import file
filename = '/content/drive/MyDrive/Colab Notebooks/athleteEventsNoPersonal.csv'
df = pd.read_csv(filename)

In [6]:
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
# 1. Load this dataset and explore it! Answer the following questions:
# a. How many rows?
# b. How many columns?
df.shape

(40616, 12)

In [12]:
# c. Which columns have missing values? (Why do think there are there so many null values in the Medals column?)
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [18]:
# d. How many entries correspond to the city of London?
london = df['City'] == 'London'
df['City'][london].value_counts()

# filter=df.City=='London'
# df[filter].count()['City']

London    3370
Name: City, dtype: int64

In [21]:
# e. What age is the youngest athlete in our sample data?  Hint: use min()
df['Age'].min()

11.0

In [49]:
# 2. Create filters to find out:
# a. How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?
# df[df['col']].str.contains('var')
tug = df['Sport'] == 'Tug-Of-War'
swe = df['Team'] == 'Sweden'

swe_tug = (tug & swe)

df[swe_tug]['ID'].value_counts().sum()

6

In [51]:
# b. How many Gold medals were awarded to athletes who were over 40 years old?
df.columns

Index(['ID', 'Age', 'Height', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City',
       'Sport', 'Event', 'Medal'],
      dtype='object')

In [55]:
gold = df['Medal'] == 'Gold'
over40 = df['Age'] > 40

df[gold & over40].value_counts().sum()

16

In [56]:
# 3. Determine the average height of:
# a. All rows included.
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [62]:
# unique athlete
unique_athlete = df.drop_duplicates(subset = 'ID', keep = 'first')
unique_athlete['Height'].mean()

176.31818479042698

In [63]:
# b. All rows included, but grouped by Event.
df.groupby(['Event'])[['Height']].mean()

                                                    Height
Event
Alpine Skiing Men's Combined                    178.547170
Alpine Skiing Men's Downhill                    178.211679
Alpine Skiing Men's Giant Slalom                176.739394
Alpine Skiing Men's Slalom                      176.482143
Alpine Skiing Men's Super G                     179.850575
...                                                    ...
Wrestling Women's Flyweight, Freestyle          158.100000
Wrestling Women's Heavyweight, Freestyle        173.444444
Wrestling Women's Light-Heavyweight, Freestyle  170.000000
Wrestling Women's Lightweight, Freestyle        162.666667
Wrestling Women's Middleweight, Freestyle       164.533333

[726 rows x 1 columns]